/*公共*/
body {margin:0; padding:0; font-size:14px;font-family:  \5FAE\8F6F\96C5\9ED1, \5b8b\4f53,Arial,sans-serif; color:#ccc;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
ol,ul {list-style:none;padding:0; margin:0;}
li{list-style-type:none;}
img{vertical-align:middle;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
i, b{font-weight: normal;}
input{border:none;}
input:focus{outline: 0;}
.clearfix{ *zoom:1;}
.clearfix::after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.float_l,.fl{float:left;}
.float_r,.fr{float:right;}
.mt20{margin-top:20px;}
.mb60{margin-bottom:60px;}
.mt25{margin-top:25px;}
.pl50{padding-left:50px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
/*动画效果*/
@keyframes nodeAnimate
{
0% {transform:rotateX(0deg);opacity:1;}
90% {transform:rotateX(0deg);opacity:0.8;}
95% {transform:rotateX(180deg);opacity:0.2;}
100% {transform:rotateX(360deg);opacity:0.9;}
}

/*自适应*/
@media screen and (min-width:1800px ) {
  .chart_wrapper .chart_main .chart_modLeft .mod_box,.chart_wrapper .chart_main .chart_modRight .mod_box{margin-bottom: 50px;}
}
@media screen and (max-width:1600px ) {
  .chart_wrapper .mod_title{font-size: 14px;height:30px;line-height: 30px;}
  .chart_wrapper .chart_main .mod_box{height:210px;}
  .chart_wrapper  .chart_modLeft .chart_box{height:180px;}
  .chart_wrapper  .chart_modRight .mod_box:nth-child(1) .chart_box{height:175px;}
  .chart_wrapper .rqlb_list .list_item{height:24px;line-height: 30px;}
  .chart_wrapper .rqlb_list .list_item span{line-height: 30px;}
  .chart_wrapper .attacknode_list .node_item{height:60px;}
  .chart_wrapper .attacknode_list .node_item .text_wrap{padding-top:10px;}

}
@media screen and (max-width:1400px ) {
  .chart_wrapper .mod_title{font-size: 14px;height:30px;line-height: 30px;}
  .chart_wrapper .chart_main .mod_box{height:180px;}
  .chart_wrapper  .chart_modLeft .chart_box{height:150px;}
  .chart_wrapper  .chart_modRight .mod_box:nth-child(1) .chart_box{height:140px;}
  .chart_wrapper .rqlb_list .list_item{height:24px;line-height: 30px;}
  .chart_wrapper .rqlb_list .list_item span{line-height: 30px;}
  .chart_wrapper .attacknode_list .node_item{height:48px;}
  .chart_wrapper .chart_modFooter .scene-content{background:rgba(0, 0, 0, 0.8);}
}
/*模块收缩*/
.icon{display:inline-block;vertical-align: middle;text-align: center;cursor:pointer;}
.icon_arrow{width:26px;height:26px;-webkit-transition: all .5s;transition: all .5s;}
.icon_arrow_right{position:absolute;top:50%;right:100%;background:url('../images/icon_arrow_right.png') top no-repeat;}
.icon_arrow_left{position:absolute;top:50%;left:100%;background:url('../images/icon_arrow_left.png') top no-repeat;}
.icon_arrow_down{position:absolute;bottom:85%;left:50%;background:url('../images/icon_arrow_down.png') top no-repeat;}
.icon_arrow_left.active{
  -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.icon_arrow_right.active{
  -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.icon_arrow_down.active{
  -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    bottom: 0%;
}
.chart_modFooter .scene-content, .chart_modLeft.scene-open .scene-content{overflow:hidden;}
.scene-content, .scene-open {
-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.chart_modLeft.scene-open .scene-content, .chart_modRight.scene-open  .scene-content {width:0px;}
.chart_modFooter.scene-open,.chart_modFooter.scene-open  .scene-content {height:0px;}


/*布局*/
.chart_wrapper{overflow:hidden;}
.bg_chart{width:100%;height:100%;background:url('../images/bg_chart.png') top no-repeat;position: absolute;top: 0;left: 0;background-size: cover;}
.chart_header{height:70px;color:#fff;background:rgba(0,3,32,.9);border-bottom: 1px solid #0d1552;vertical-align: middle; overflow: hidden; }
.chart_header .logo{height:48px;margin:10px 0;}
.chart_header .logo img{width:auto;height:100%;}
/*地图*/
.main-scene {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; } 
.chart_map{width:100%;height:90%;margin:0 auto 0;}
/*主体内容*/
.chart_main{position:relative;z-index: 1;} 
.chart_main .chart_modLeft{float:left;position:relative;top:10px;left:10px;}
.chart_main .chart_modRight{float:right;position:relative;top:10px;right:10px;}
.chart_main .chart_modFooter{height:210px;position:fixed;left:10px;right:10px;bottom:10px;}
.chart_modFooter .mod_box{padding-bottom: 10px;}
.chart_main .chart_modLeft,.chart_main .chart_modRight,.chart_main .chart_modFooter{
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

.chart_main .mod_box{width:280px;height:250px;background-color:rgba(0,80,255,0.1);margin-bottom:10px;}
.chart_main .mod_box.mod_box_table1{width:29%;height:210px;background:none;}
.chart_main .mod_box.mod_box_table2{width:48%;height:210px;background:none;}
.chart_main .mod_box.mod_box_table3{width:19%;height:210px;background:none;}

.chart_modFooter .mod_box{margin-bottom: 0;}

.mod_title{font-size: 16px;color:#00f0ff;font-weight:600;text-align: left;height:40px;line-height: 40px;background:rgba(6,29,81,0.8);}
.mod_title.nobg{background:none;}
.mod_title .tit_item{display:inline-block;margin-left:10px;margin-right:10px;width:6px;height:16px;border-radius: 1.5px;background:#00f0ff;vertical-align: middle;position:relative;top:-1px;}

.chart_box{width:100%;height:205px;}
.chart_box .chart{width:100%;height:100%;}
/*.chart_modLeft .mod_box:nth-child(3) .chart_box{overflow:hidden;height:150px;}*/
.chart_modRight .mod_box:nth-child(1) .chart_box{overflow:hidden;height:190px;}
/*入侵类别列表*/
.rqlb_list{padding:0 10px;font-size: 12px;}
.rqlb_list .list_item{display:inline-block;width:100%;height: 26px;line-height: 32px;border-bottom: 2px solid #ccc;
  -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;}
.rqlb_list .list_item span{line-height: 32px;}   
.rqlb_list .list_item .fr{color:#42edf8;}
.rqlb_list .list_item.item_grade1{border-color: #20bfab;}
.rqlb_list .list_item.item_grade2{border-color: #88be5c;}
.rqlb_list .list_item.item_grade3{border-color: #bdc035;}
.rqlb_list .list_item.item_grade4{border-color: #ffb00b;}
.rqlb_list .list_item.item_grade5{border-color: #ff7a0b;}
.rqlb_list .list_item.item_grade6{border-color: #fd371c;}
/*受攻击节点列表*/
.attacknode_list{padding:0 10px;font-size: 12px;}
.attacknode_list .node_item{display:inline-block;float:left;width:49.5%;height: 68px;border-right: 1px solid rgba(255,255,255,.1);border-bottom: 1px solid rgba(255,255,255,.1);animation: nodeAnimate 10s linear infinite;}
.attacknode_list .node_item:nth-child(2n){border-right:0;}
.attacknode_list .node_item:nth-child(5),.attacknode_list .node_item:nth-child(6){border-bottom:0;}
.attacknode_list .node_item .text_wrap{height:45px;overflow:hidden;padding-top:15px;padding-left:15px;}
.text_wrap .number{font-size: 18px;}
.text_wrap .name{font-size: 12px;line-height: 16px;}

.text_wrap .number.grade1{color: #42edf8;}
.text_wrap .number.grade2{color: #88be5c;}
.text_wrap .number.grade3{color: #bdc035;}
.text_wrap .number.grade4{color: #ffb00b;}
.text_wrap .number.grade5{color: #ff7a0b;}
.text_wrap .number.grade6{color: #fd371c;}
/*项目列表*/
.ranklist-wrap{margin:0;padding:0;}
.ranklist{width: 100%;border-collapse: collapse;border-spacing: 0;}
.ranklist .ranklist-head{width:100%;height:25px;background:rgba(0,80,255,.1);}
.ranklist .ranklist-th{color:#dddddd;display:block;float:left; height: 25px; line-height: 25px;  white-space:nowrap;text-align: left;font-size: 14px;font-weight: bold;}
.ranklist .ranklist-body{height:150px;overflow:auto;}
.ranklist .ranklist-body .ranklist-tr li{display:block;float:left; height:24px; line-height:24px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;text-align: left;font-size: 12px;}
.ranklist .ranklist-body .ranklist-tr a{padding-left:5px;color:#1f85e3;}
.ranklist .ranklist-th,.ranklist .ranklist-body .ranklist-tr li{text-indent:10px;}
.ranklist .ranklist-body .ranklist-tr{height:24px;border-bottom: 1px solid rgba(255,255,255,.1);}
.ranklist .ranklist-body .ranklist-tr:last-child{border-bottom: 0;}
/*.ranklist .ranklist-body .ranklist-tr:hover li{background: #31ABC2;}*/
.ranklist.ssgflist .ranklist-body .ranklist-tr{height:24px;border-bottom: 0px;margin-bottom: 1px;}

.ranklist .ranklist-thead li:nth-child(1),.ranklist .ranklist-tr li:nth-child(1){width:60%;}
.ranklist .ranklist-thead li:nth-child(2),.ranklist .ranklist-tr li:nth-child(2){width:40%;}

.grade_general{color:#1fc0ab;}
.grade_serious{color:#fd371c;}
/* 实时警告*/
.ranklist.ssjglist .ranklist-thead li:nth-child(1),.ranklist.ssjglist .ranklist-tr li:nth-child(1){width:15%;}
.ranklist.ssjglist .ranklist-thead li:nth-child(2),.ranklist.ssjglist .ranklist-tr li:nth-child(2){width:35%;}
.ranklist.ssjglist .ranklist-thead li:nth-child(3),.ranklist.ssjglist .ranklist-tr li:nth-child(3){width:48%;}
/* 实时攻防*/
.ranklist.ssgflist .ranklist-thead li:nth-child(1),.ranklist.ssgflist .ranklist-tr li:nth-child(1){width:20%;}
.ranklist.ssgflist .ranklist-thead li:nth-child(2),.ranklist.ssgflist .ranklist-tr li:nth-child(2){width:20%;}
.ranklist.ssgflist .ranklist-thead li:nth-child(3),.ranklist.ssgflist .ranklist-tr li:nth-child(3){width:20%;}
.ranklist.ssgflist .ranklist-thead li:nth-child(4),.ranklist.ssgflist .ranklist-tr li:nth-child(4){width:20%;}
.ranklist.ssgflist .ranklist-thead li:nth-child(5),.ranklist.ssgflist .ranklist-tr li:nth-child(5){width:20%;}
.ranklist.ssgflist .ranklist-body .ranklist-tr:nth-child(1){background:rgba(228,95,142,.35);}
.ranklist.ssgflist .ranklist-body .ranklist-tr:nth-child(2){background:rgba(228,95,142,.27);}
.ranklist.ssgflist .ranklist-body .ranklist-tr:nth-child(3){background:rgba(228,95,142,.20);}
.ranklist.ssgflist .ranklist-body .ranklist-tr:nth-child(4){background:rgba(228,95,142,.15);}
.ranklist.ssgflist .ranklist-body .ranklist-tr:nth-child(5){background:rgba(228,95,142,.10);}